@import "compass";
@import "compass/reset";

$brabant-color: #F23630;

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Open Sans", Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    background-color: #CCCCCC;
}

header, section, footer {
    margin: 0 auto;
    background-color: #FFFFFF;
    @include clearfix();
}

header {
    background-color: #9B9B9B;
    text-align: center;
    overflow: hidden;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
	
    a {
        font-size: 18px;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 400;
        &.pull-left, &.pull-right {
            font-weight: 300;
            background-size: 8px;
            background-repeat: no-repeat;
        }
        &.pull-left {
            background-image: url(images/menu_links.svg);
            background-position: left center;
            padding-left: 15px;
        }
        &.pull-right {
            background-image: url(images/menu_rechts.svg);
            background-position: right center;
            padding-right: 15px;
        }
    }
}

strong {
    font-weight: 400;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.brabant {
    color: $brabant-color;
}

section, .scroll-wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

header + section {
    top: 38px;
}

h2 {
    font-weight: 400;
    font-size: 1.3em;
    padding: 1em 0;
    color: $brabant-color;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.scroll-wrapper {
    overflow: auto;
}

.soc-media {
    margin: 0 15px;
    height: 20px;

    a {
        display: inline-block;
        width: 25%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

        span {
            display: block;
            height: 100%;
        }
        &.icon-f {
            background-image: url(images/icon-f.svg);
            //background-position: left center;
        }
        &.icon-t {
            background-image: url(images/icon-t.svg);
            //background-position: 8% center;
        }
        &.icon-l {
            background-image: url(images/icon-l.svg);
            // background-position: 16% center;
        }
        &.icon-g {
            background-image: url(images/icon-g.svg);
            // background-position: right center;
        }
    }
}

.logo {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(images/geobrabant_logo_outline.svg);
}

.home-wrapper {
    max-width: 950px;
    margin: 0 auto;
    padding-bottom: 30px;
    min-width: 320px;
    background-color: #FFFFFF;
    
    .soc-media {
        font-size: 0;
        float: right;
        margin-top: 10px;
        margin-right: 2px;
        width: 130px;
        height: 20px;
    }
}

.hero-unit {
    height: 105px;
    padding: 30px 0;

    .logo {
        margin: 0 auto;
        width: 75%;
        height: 100%;
    }
}

.home-menu {
    height: 410px;
    font-size: 0;
    text-align: center;

    .wrapper {
        display: inline-block;
        height: 100%;
        width: 350px;
        margin: 0 20px 0 20px;
        background-color: #f8f8f8;
        -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.53);
        -moz-box-shadow:    0px 1px 6px 0px rgba(0, 0, 0, 0.53);
        box-shadow:         0px 1px 6px 0px rgba(0, 0, 0, 0.53);
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        position: relative;
        
        a {
            display: block;
        }
        img {
            display: block;
            margin: 20px auto 15px auto;
            max-width: 90%;
        }
        .button {
            background-color: #F41B2B;
            width: 100%;
            height: 60px;
            margin: 0;
            position: absolute;
            bottom: 0;
            font-size: 21px;
            line-height: 60px;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}

.home-section {
    padding: 30px 50px 0 50px;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    // just the first section
    text-align: justify;
    margin-top: 15px;
    // remove this styling for next sections
    & ~ .home-section {
        text-align: left;
        margin-top: 0;
    }
    @include clearfix();

    h1 {
        position: relative;
        z-index: 1;
        text-align: center;
        margin-bottom: 30px;
        font-size: 26px;
        font-weight: 400;
        color: #A8A8A8;
        
        &:before {
            border-top: 2px solid #A8A8A8;
            content:"";
            margin: 0 auto; /* this centers the line to the full width specified */
            position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
            top: 50%; left: 0; right: 0; bottom: 0;
            width: 100%;
            z-index: -1;
        }
        span { 
            /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
            background: #fff; 
            padding: 0 30px; 

            span {
                padding: 0;
            }
        }
    }
    
    &.contact h1 {
        margin-bottom: 20px;
    }
    
    img {
        float: right;
        margin-left: 10px;
    }
}

.contact {
    font-size: 0;

    .contact-col {
        display: inline-block;
        width: 33%;
        font-size: 13px;
        line-height: 30px;
        font-weight: 400;
        .contact-logo {
            display: block;
            width: 100%;
            text-align: center;
            padding: 10px 0 10px 0;
            height: 90px;
            text-decoration: none;
            color: #FFFFFF;
            &:before {
                font-size: 0;
                content: "";
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
        }
        img {
            float: none;
            margin-left: 0;
            vertical-align: middle;
        }
        .description {
            width: 195px;
            margin: 0 auto;
            overflow: visible;
        }
        .email, .phone {
            display: block;
            background-position: left center;
            background-size: 12px;
            background-repeat: no-repeat;
            padding-left: 18px;
            color: #5C5C5C;
            font-size: 13px;
            line-height: 20px;
        }
        .email {
            background-image: url(images/mail.svg);
        }
        .phone {
            background-image: url(images/telefoonnummer.svg);
        }
    }
}

.buttons {
    float: left;
    width: 20%;
    height: 100%;
    min-width: 250px;
    max-width: 400px;
    position: relative;
    z-index: 2;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.23);
    -webkit-box-shadow: 2px 0px 3px -1px rgba(0,0,0,0.23);
    -moz-box-shadow: 2px 0px 3px -1px rgba(0,0,0,0.23);
    box-shadow: 2px 0px 3px -1px rgba(0,0,0,0.23);
    font-size: 0;
    overflow: auto;

    .logo {
        min-height: 45px;
        height: 4%;
        margin: 20px 15px;
    }
    hr {
        border: 0;
        height: 2px;
        background-color: #A8A8A8;
        opacity: .34;
        margin: 15px;
		clear: both;
    }
    strong {
        font-weight: 400;
        font-size: 16px;
        color: #A8A8A8;
        display: block;
        text-align: left;
        margin: 20px 15px 25px 15px;
    }

    .button {
        display: block;
		float: left;
        width: 50%;
        height: 10%;
        min-height: 100px;
        text-align: center;
        font-size: 13px;
        padding: 2%;
        cursor: pointer;

        &.active span, &:hover span {
            background-color: #F7F6F7;
        }
        
        &.active span {
            font-weight: 400;
        }
        
        span {
            color: #A8A8A8;
            display: block;
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 10px 0 5px 0;
        }

        span:before {
            content: " ";
            width: 50%;
            height: 50%;
            display: block;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            margin: 0 auto 10px auto;
        }

        &.kunst-cultuur span:before {
            background-image: url(images/kunst_cultuur.svg);
        }

        &.werklocaties span:before {
            background-image: url(images/werklocaties.svg);
        }

        &.recreatie span:before {
            background-image: url(images/recreatie.svg);
        }

        &.wijkvoorzieningen span:before {
            background-image: url(images/wijkvoorzieningen.svg);
        }

        &.onderwijs-kinderopvang span:before {
            background-image: url(images/onderwijs_kinderopvang.svg);
        }

        &.veiligheid span:before {
            background-image: url(images/veiligheid.svg);
        }

        &.zorg span:before {
            background-image: url(images/zorg.svg);
        }

        &.bereikbaarheid span:before {
            background-image: url(images/bereikbaarheid.svg);
        }

        &.bekendmakingen span:before {
            background-image: url(images/bekendmakingen.svg);
        }

        &.wat-mag-waar span:before {
            background-image: url(images/wat_mag_waar.svg);
        }
    }
}

.content {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.contactitem {
    max-width: 500px;
    margin-bottom: 20px;
    .title {
        color: #000000;
        display: block;
        overflow: hidden;
        img {
            float: right;
            vertical-align: middle;
            max-width: 150px;
            max-height: 100px;
        }
    }
}

a {
    color: $brabant-color;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

p {
    padding-bottom: 1em;
}

@media (min-width: 1400px) {
    .buttons a {
        font-size: 13px;
    }
}

@media (min-width: 1175px) {
    .buttons a {
        font-size: 14px;
    }
}

@media (min-width: 960px) {
    .home {
        background-image: url(images/home-bg.jpg);
        background-size: cover;
    }
    .home-wrapper {
        margin-top: 23px;
        margin-bottom: 23px;
        border: 1px solid #333333;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow:    0px 0px 6px 0px rgba(0, 0, 0, 1);
        box-shadow:         0px 0px 6px 0px rgba(0, 0, 0, 1);
    }
}

@media (max-width: 900px) {
    .buttons {
        min-width: 130px;
        .button {
            width: 90%;
			float: none;
			display: inline-block;
        }   
    }
    .home-menu .wrapper {
        margin: 0 10px;
    }
}

@media (max-width: 750px) {
    .home-menu {
        height: auto;
        .wrapper {
            margin: 10px auto;
            height: 410px;
        }
    }
    .contact {
        text-align: center !important;
        .contact-col {
            width: 50%;
            text-align: left;
        }
    }
}

@media (max-width: 625px) {
    .hero-unit {
        margin-top: 10px;
    }
    .home-wrapper .soc-media {
        margin-top: 0;
    }
}

@media (max-width: 525px) {
    .home-menu {
        height: auto;
        .wrapper {
            margin: 10px auto;
            height: 410px;
            width: 90%;
        }
    }
    .contact {
        text-align: center !important;
        .contact-col {
            width: 90%;
            text-align: left;
        }
    }
}

// *** OLD STYLES *** NEED TO BE REMOVED WHEN CATALOGUS HAS NEW DESIGN //

.col {
    width: 30%;
    float: left;
    margin-right: 5%;
    &:last-of-type {
        margin-right: 0;
    }
}

.col-2 {
    width: 65%;
}

.catalogus {
    padding: 30px;
    img {
        max-width: 100%;
    }
    fieldset {
        width: 100%;
        .inputfield {
            overflow: hidden;
        }
        .submit {
            float: right;
            padding-left: 15px;
        }
        input {
            width: 100%;
            font-size: 1.1em;
            padding: 15px;
            border: 1px solid $brabant-color;
            border-radius: 2px;
        }
        input[type=submit] {
            padding: 15px 25px;
        }
        input::-moz-focus-inner {
            border: 0;
            padding: 0;
        }
    }
    .zoeken-uitleg {
        width: 250px;
        float: left;
    }
    .zoeken-afbeelding {
        padding-left: 10px;
        overflow: hidden;
    }
}

.zoekresultaat {
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin-bottom: 10px;
    @include clearfix();
    h2 {
        font-weight: 400;
        font-size: 1.2em;
        @include clearfix();
        margin-bottom: 1em;
        padding: 0;
        color: #000000;
        span {
            display: block;
            overflow: hidden;
        }
        a {
            font-size: 1em;
            display: inline-block;
            background-color: $brabant-color;
            padding: 4px;
            color: #FFFFFF;
            text-decoration: none;
            float: right;
        }
    }
    img {
        float: right;
        margin: 0 0 10px 10px;
        max-width: 200px;
        border: 1px solid $brabant-color;
    }
    &.uuid {
        border: 0px none;
        padding: 0;
        margin: 0;
        h2 {
            font-weight: 400;
            font-size: 1.3em;
            padding: 1em 0;
            color: $brabant-color;
            margin: 0;
        }
    }
    .tagcloud {
        span {
            display: inline-block;
            background-color: #cccccc;
            padding: 2px 4px;
            margin: 0 2px 5px 0;
            border-radius: 2px;
        }
    }
    strong {
        font-weight: 400;
    }
    pre {
        display: block;
        overflow: auto;
        min-height: 50px;
    }
}

.zoekresultaten_buttons {
    .button {
        border: 1px solid $brabant-color;
        border-radius: 2px;
        cursor: pointer;
        padding: 5px 10px;
        background-color: $brabant-color;
        color: #FFFFFF;
        display: inline-block;
        text-decoration: none;
        float: left;
        clear: left;
        b {
            margin-right: 8px;
        }
        &.spacing {
            margin-bottom: 5px;
        }
    }
    .mapbutton {
        display: none;
    }
    .downloadbutton {
        display: none;
    }
}

.contactitem {
    max-width: 500px;
    margin-bottom: 20px;
    .title {
        color: #000000;
        display: block;
        overflow: hidden;
        img {
            float: right;
            vertical-align: middle;
            max-width: 150px;
            max-height: 100px;
        }
    }
}

@media (max-width: 750px) {
    .col {
        width: 46%;
        margin-right: 6%;
        &:nth-of-type(2n + 1) {
            margin-right: 0;
        }
    }
    .col-2 {
        width: 100%;
        margin-right: 0;
        & + .col {
            width: 100%;
            margin-right: 0;
        }
    }
}

@media (max-width: 500px) {
    .catalogus {
        .zoeken-uitleg {
            padding-bottom: 10px;
        }
        .zoeken-afbeelding {
            float: left;
            width: 100%;
            padding-bottom: 10px;
            padding-left: 0;
        }
    }
    .col {
        width: 100%;
        padding: 10px;
        margin-right: 0;
        img {
            text-align: center;
        }
    }
}