/* 
    Document   : main
    Created on : 23-dec-2010, 14:53:59
    Author     : Erik van de Pol
    Description:
        Purpose of the stylesheet follows.
*/


body {
	margin: 0px;
    padding: 0px;/*2.1em 0;*/
    background: #f3f5f6;
    border-top: 1px solid #535353;
	font-size: 11px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

a {
    color: #154273;
}

.header {
    background: url(skin/sh_top.png) left top repeat-x;
    background-position: -20px 0px;
    background-color: #ffffff;
    padding-top: 8px;
    text-align: center;
}

.header .branding {
    margin: 0px;
    padding: 0px;
    height: 87px;
    max-height: 87px;
    background-color: #fff;
}

.header .branding img {
    margin: 0;
    border: none;
}

.nav-bar {
    margin: 0;
    padding: 0;/*2.8em 0 0;*/
    text-align: left;
    /*position: relative;*/
    background-color: #777c00;
    border-bottom: 10px solid #d6d7b2; /* #ebebd9 */
    height: 70px;
}

.nav-bar .title-bar {
    background-color: #d6d7b2;
    height: 30px;
}

.nav-bar .title-bar h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0px;
    padding-top: 4px;
    padding-left: 10px;
}

.login-info-block {
    font-size: 12px;
    line-height: 1.5em; /* IE 7 fix */
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.logged-in-as {
    display: inline;
    color: #fff;
}

.logout-link {
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
}

ul#main-tabs {
    list-style: none outside none;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

ul#main-tabs > li {
    list-style: none outside none;
    float: left;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 1.1em;
    font-weight: bold;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
}

ul#main-tabs > li > a {
    text-decoration: none;
    color: white;
}

ul#main-tabs > li.main-tab-selected {
    background-color: #D6D7B2;
}

ul#main-tabs > li.main-tab-selected > a {
    color: black;
}

ul#main-tabs > li.main-tab-hover {
    background-color: #D6D7B2;
}

ul#main-tabs > li > a.main-tab-hover {
    color: black;
    text-decoration: underline;
}

.footer {
    background-color: #f3f5f6;
    position: relative;
}

.footer .ref {
    border: 0;
    padding: 0 0 6px;
    text-align: center;
    background: url(skin/sh_bot.png) left bottom repeat-x;
    background-position: -20px 40px;
    background-color: #ffffff;
    border-top: 10px solid #D6D7B2;
    height: 50px;
}

.footer .ref img {
    margin: 0;
    margin-top: 23px;
    background-color: #fff;
}

.footer-text {
    color: #7891A5;
    font-size: 11px;
}

#footer-text-left {
    position: absolute;
    left: 10px;
    top: 35px;
}

#north, #south, #west, #east, #center {
    background: #fff;
}

.ui-layout-resizer {
    background-color: #d6d7b2;
    border: 1px solid #d6d7b2;/*#bbbbbb;*/
}

#mde-toolbar {
    margin: 1em;
}

#filetree, #search {
    padding: 10px;
}

#searchResultsContainer {
    margin-top: 1em;
    margin-bottom: 1em;
}

.search-results-text {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.search-result {
    margin-top: .5em;
    margin-bottom: .5em;
}

.search-result-title {
    color: #154273;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.3em;
    cursor: pointer;
}

.search-result-abstract {

}

#borderLeft {
    position: absolute;
    right: 0px;
    width: 8px;
}

#borderRight {
    position: absolute;
    left: 0px;
    width: 8px;
}

#borderLeftTop, #borderRightTop {
    background: url(skin/sh_top_left.png);
    position: absolute;
    top: 0px;
    right: 0px;
    height: 8px;
    width: 8px;
    z-index: 30;
}

#borderLeftMiddle, #borderRightMiddle {
    background: url(skin/sh_left_small.png);
    position: absolute;
    top: 8px;
    bottom: 17px;
    right: 0px;
    width: 8px;
    z-index: 29;
}

#borderLeftBottom, #borderRightBottom {
    background: url(skin/sh_bot_left.png);
    position: absolute;
    right: 0px;
    bottom: 9px;
    height: 8px;
    width: 8px;
    z-index: 30;
}

#borderRightTop {
    background: url(skin/sh_top_right.png);
    right: auto;
    left: 0px;
}

#borderRightMiddle {
    background: url(skin/sh_right_small.png);
    right: auto;
    left: 0px;
}

#borderRightBottom {
    background: url(skin/sh_bot_right.png);
    right: auto;
    left: 0px;
}

/* Message + info box */
.message_err,
.message_info { background-position: 0.5em 0.5em; background-repeat: no-repeat; margin-top: 1em; margin-bottom: -1em; padding: 8px 10px 5px 34px; line-height: 150%; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.message_err { background-color: #f2bfbb; background-image: url(skin/message_err.png); }
.message_info { background-color: #fdf6bb; background-image: url(skin/message_info.png); }

.message_err h2,
.message_info h2 { font-size: 1.3em; }

.message_err p,
.message_info p { margin-bottom: 0.1em; }