<?xml version="1.0" encoding="UTF-8"?>
<web-app 
        xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4"
        >
    <filter>
        <display-name>Stripes Filter</display-name>
        <filter-name>StripesFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>nl.b3p.catalog.stripes</param-value>
        </init-param>
        <init-param>
            <param-name>LocalePicker.Locales</param-name>
            <param-value>nl_NL, nl</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>Request encoding filter</filter-name>
        <filter-class>nl.b3p.commons.services.SetRequestEncodingFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <servlet-name>StripesDispatcher</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Request encoding filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>StripesDispatcher</servlet-name>
        <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SimpleCswServlet</servlet-name>
        <servlet-class>nl.b3p.catalog.SimpleCswServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleCswServlet</servlet-name>
        <url-pattern>/scc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>600</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>nl.b3p.gis.arcgis.ArcGISConnector</listener-class>
    </listener>
    <!-- See http://www.stripesframework.org/display/stripes/Localization (bottom of the page) -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>StripesResources</param-value>
        <!-- huidige locale wordt hier automatisch slim achtergeplakt (_nl etc.) -->
    </context-param>
    <!-- Filetree config -->
    <context-param>
        <description>
            Puntkomma gescheiden directories/shares/drives die de roots vormen van waaruit metadata gezocht kan worden.
            Elke root kan weer een displayname (label) bevatten na een komma.
            Voorbeeld:
            X:\, OudeShare; Y:\, Nieuwe Share

            Deze scheidingstekens zijn uiteraard niet correct in de zin dat een ";" voor mag komen in een windows-bestandsnaam.
            Hier dealen we mee als we het tegenkomen. Voor nu is dit goed genoeg.

            N.B.: Windows drive-letters MOETEN een hoofdletter zijn.
        </description>
        <param-name>CatalogRoots</param-name>
        <param-value>
            C:\catalog_test, Catalog test
        </param-value>
    </context-param>
    <context-param>
        <description>
            Enter-gescheiden ArcSDE connecties.
            Connecties bestaan uit key-value pairs gescheiden door punt-komma's (';')
            Voor te gebruiken keys zie de javadoc van ArcObjects:
            http://help.arcgis.com/en/sdk/10.0/java_ao_adf/api/arcobjects/com/esri/arcgis/datasourcesGDB/SdeWorkspaceFactory.html#open%28com.esri.arcgis.system.IPropertySet,%20int%29
            
            Elke root kan weer een displayname (label) bevatten na een komma.
            Voorbeeld:
            INSTANCE=sde:sqlserver:localhost\sqlexpress;DATABASE=geodb;AUTHENTICATION_MODE=OSA;VERSION=dbo.DEFAULT, ArcSDE geodb
        </description>
        <param-name>ArcSDERoots</param-name>
        <param-value>
            INSTANCE=sde:sqlserver:localhost\sqlexpress;DATABASE=geodb;AUTHENTICATION_MODE=OSA;VERSION=dbo.DEFAULT, ArcSDE geodb
        </param-value>
    </context-param>
    <!-- SCC-servlet configuratie -->
    <context-param>
        <param-name>defaultXsl</param-name>
        <param-value>simple-response.xsl</param-value>
    </context-param>
    <!-- CSW-server configuratie -->
    <!-- Geonetwork / Deegree / etc. Only cswUrl is necessary when login is not applicable -->
    <context-param>
        <param-name>cswUrl</param-name>
        <param-value>http://dev.b3p.nl/geonetwork/srv/en/csw</param-value>
    </context-param>
    <context-param>
        <param-name>cswLoginUrl</param-name>
        <param-value>http://dev.b3p.nl/geonetwork/srv/en/xml.user.login</param-value>
    </context-param>
    <context-param>
        <param-name>cswUsername</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>cswPassword</param-name>
        <param-value>***REMOVED***</param-value>
    </context-param>
    <!-- IDGis Inspire service (Deegree): -->
    <!--context-param>
        <param-name>cswUrl</param-name>
        <param-value>http://inspire.idgis.eu:9080/services</param-value>
    </context-param-->
    <!-- NGR -->
    <!--context-param>
        <param-name>cswUrl</param-name>
        <param-value>http://www.nationaalgeoregister.nl/geonetwork/srv/en/csw</param-value>
    </context-param-->
    <context-param>
        <description>
            Semicolon-separated (";") list of extensions that are to be considered geographical files.
            Geographical metadata tabs will automatically be shown for them.
            Geographical metadata tabs will also automatically be shown for FGDB directories.

            E.g.:

            shp;dxf
            
        </description>
        <param-name>geoExtensions</param-name>
        <param-value>shp;dxf;lyr</param-value>
    </context-param>
    <context-param>
        <description>
            name
            
            or
            
            extension
            
            TODO: maak van de comparators publieke klassen en geef die mee als parameter value.
        </description>
        <param-name>filetreeSortBy</param-name>
        <param-value>name</param-value>
    </context-param>
    <context-param>
        <description>
            Full absolute path to the config file that contains the allowed organisations and contacts in the MDE.
        </description>
        <param-name>organisationsJSONFilePath</param-name>
        <param-value>C:\b3p\B3pCatalog\organisations.json</param-value>
    </context-param>
    <filter>
        <display-name>Security Filter</display-name>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/securityfilter-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>xmlsecuritydatabase</servlet-name>
        <servlet-class>nl.b3p.commons.security.XmlSecurityDatabase</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/users.xml</param-value>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>
</web-app>
