/* Override deze file in een deploy structuur met klantspecifieke opmaak */
body, ul#main-tabs > li, ul.jqueryFileTree {
    font-family: "Helvetica Neue", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
}
ul.jqueryFileTree {
    line-height: 1.8;
}
ul.jqueryFileTree li {
    background-position: left 4px;
}
.login-info-block {
    font-size: inherit;
    line-height: inherit;
    top: 5px;
}
.logout-link, .login-link, .login-info-block, #header-logo, .sub-menu li a {
    color: rgb(230, 235, 245);
}
.title-bar, .footer, .nav-bar  {
    background-image: none;
    background-color: #182F5C;
    border: 0 none;
}
.footer {
    background-color: #919191;
}
#header-logo {
    color: #FFFFFF;
}
#header-logo h1 {
    font-size: 36px;
    font-weight: 200;
    margin-bottom: 0;
}
#header-logo h2 {
    font-size: 16px;
    font-weight: 200;
    margin: 5px 0 0 75px;
}
.footer .footer-logo {
    width: 130px;
    height: 100%;
    float: right;
    margin-right: 10px;
    background: url(b3p-logo.png);
    background-image: url(../images/b3p-logo.svg), none;
    background-position: 100% 60%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0 none;
}
.footer {
    /* height: 100px; */
    height: 0;
    display: none;
}
.footer-content {
    height: 100px;
    text-align: center;
}
.footer-text {
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 25px;
    display: inline-block;
    width: 700px;
    text-align: center;
    position: static;
}
.nav-bar {
    height: 150px;
}
.sub-menu {
    position: absolute;
    right: 10px;
    z-index: 10;
    top: 0;
    margin-top: -10px;
}
.sub-menu ul {
    list-style: none;
}
.sub-menu li {
    float: left;
}
.sub-menu li:after {
    content: "|";
    margin: 0 5px;
    color: #FFFFFF;
}
.sub-menu li:last-of-type:after {
    content: "";
    margin: 0;
}
.sub-menu li a {
    text-decoration: none;
    font-size: 12px;
}
ul#main-tabs, #page-tabs-and-toolbar {
    bottom: 0;
}
ul#main-tabs {
    left: 0;
}
ul#main-tabs > li.main-tab-selected, ul#main-tabs > li.main-tab-hover {
    background-color: #FFFFFF;
}
ul#main-tabs > li.main-tab-hover a.main-tab-hover, ul#main-tabs > li.main-tab-selected > a {
    text-decoration: none;
    color: #333;
}
ul#main-tabs > li a {
    color: rgb(255, 220, 120);
    font-weight: normal;
}
.ui-layout-resizer {
    background-color: rgb(230, 235, 245);
    border-color: rgb(230, 235, 245);
}
.left-background, .right-background {
    background-image: none;
    background-color: #FFFFFF;
}
button, input, select, textarea, .ui-mde .ui-mde-element input.inputfield, .ui-mde .ui-mde-element textarea, .ui-mde .ui-mde-element select.ui-mde-picklist {
    font-family: inherit;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.04em;
    padding: 0.4em 0.6em;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 3px #DDD inset;
    border-radius: 2px;
    box-sizing: border-box;
}
input:focus, .ui-mde .ui-mde-element input.inputfield:focus, textarea:focus, .ui-mde .ui-mde-element textarea:focus {
    border: 1px solid rgb(0, 80, 130);
}
button, select, input[type=button], input[type=submit] {
    box-shadow: none;
    cursor: pointer;
}
.form-wrap {
    max-width: 350px;
    margin: 30px auto;
}
.form_ll fieldset ol li .text, .form_ll fieldset ol li textarea {
    width: 100%;
}
.form_ll ol {
    padding: 0;
}
.form_ll fieldset ol li {
    margin: 10px 0;
    padding: 0;
    background-color: #FFFFFF;
}
fieldset {
    border: 0;
    padding: 0;
    border-top: 1px solid #CCC;
}
fieldset legend {
    margin-left: 10px;
}
.message_err, .message_info  {
    margin-bottom: 1em;
}
ul.jqueryFileTree a:hover, ul.jqueryFileTree .selected {
    color: rgb(0, 80, 130);
    background-color: transparent;
}
ul.jqueryFileTree .selected:after {
    content: "\25CF";
}
#toolbar {
    left: auto;
    right: 10px;
}
#toolbar .ui-button .ui-icon, .button-icon.ui-icon {
    background-image: none;
    text-indent: 0;
}
.wide-button {
    min-width: 190px;
    max-width: 275px;
    margin-bottom: 10px;
    display: block;
}
.info-tab h1 {
    font-weight: 200;
    margin-bottom: 15px;
}
.info-tab ol {
    margin: 0;
    list-style-position: outside;
    padding-left: 1.25em;
}
.info-tab li {
    padding: 0 0 15px 15px;
}

.info-tab li strong {
    display: block;
}

.info-tab li a {
    color: #333;
}

/* same color for all keys for now */
.ui-mde .ui-mde-key, .ui-mde .ui-mde-key-mandatory, .ui-mde .ui-mde-key-conditional {
    color: #333333;
}