<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<b3p:catalogAppConfig xmlns:b3p="http://www.kaartenbalie.nl/b3pcatalog/config" version="1.0">

    <!-- Configuratieinstellingen B3P Catalog -->

    <!-- ArcObjects initialisatie opties. Zie voor achtergrondinfo:
         http://resources.esri.com/help/9.3/arcgisengine/java/doc/5fbd4a08-b658-45ec-acf9-aeab422015bc.htm
         
         Attribuut: enabled
         Type: boolean
         Standaardwaarde: false
         Beschrijving:
           Indien enabled="true" dan wordt bij het opstarten van de server 
           geprobeerd ArcObjects te laden en een licentie te initialiseren.
           Indien geinitialiseerd blijft de licentie in gebruik totdat de server
           wordt gestopt (ESRI-technisch niet anders mogelijk).
           
           Als het laden van ArcObjects of het initialiseren van een licentie
           mislukt wordt een melding geschreven naar het logbestand en zijn
           ArcObjects functionaliteiten niet beschikbaar.

         Attribuut: productCodes
         Type: spatiegescheiden lijst
         Standaardwaarde: ArcInfo ArcEditor ArcView ArcServer EngineGeoDB Engine  
         Beschrijving:
           Alleen van toepassing bij enabled="true". Bepaalt in welke volgorde 
           licenties worden geprobeerd te initialiseren (indien de eerste niet 
           beschikbaar is wordt de volgende geprobeerd). ArcView is voor de 
           meeste functionaliteit voldoende. ArcEditor is alleen nodig voor 
           opslaan van metadata in SDE; echter is een betere optie het gebruik 
           van een directe JDBC connectie waarvoor geen licentie nodig is. In
           de standaardwaarde hierboven genoemd staan alle mogelijke opties. De 
           geprobeerde en uiteindelijk geinitialiseerde licentie wordt geschreven 
           naar het logbestand.
    
         Attribuut: arcEngineHome
         Type: absoluut pad naar directory
         Beschrijving:
           Volledig pad naar de directory waar ArcGIS is geinstalleerd. In deze 
           directory moet de subdirectory "java\lib" aanwezig zijn met daarin het
           bestand arcobjects.jar. Optionele optie, indien niet aanwezig wordt 
           het pad gehaald uit de volgende environment variabelen:
           AGSENGINEJAVA, AGSDESKTOPJAVA of ARCGISHOME

         Attribuut: forkSynchroniser
         Type: boolean
         Standaardwaarde: false
           Indien "true" dan wordt voor de synchronisatiefunctie een apart proces 
           gestart dat de te synchroniseren waardes ophaalt mbv ArcObjects. Dit 
           maakt het mogelijk om bij floating licenses tijdelijk een ArcView 
           licentie te gebruiken. Gebruiken icm enabled="false".
           * Wordt niet gebruikt voor synchroniseren van file geodatabases omdat 
             daar altijd ArcObjects voor nodig is.
           * Voor synchroniseren van dataset uit SDE moet bij de sdeRoot een geldige
             arcobjectsConnection opgegeven zijn.
           * Synchroniseren kost meer tijd
           * Geldige Java installatie vereist
    -->
    <arcobjects enabled="false"/>
    
    <!-- <arcobjects enabled="false" forkSynchroniser="true"/> -->
    
    <!-- Definitie van de boomstructuur in de tab "Bestanden verkennen" 
         Minimaal één root moet zijn gedefinieerd.
    --> 
    <roots>
        <!-- Browse bestanden vanaf het pad "C:\catalog_test".
        
             Voor synchroniseren van shapefiles is ArcView licentie nodig. 
             Werkt met de forkSynchroniser optie.
             
             Voor weergave inhoud, lezen en schrijven van metadata en 
             synchroniseren van Esri file geodatabases is een ArcView licentie 
             nodig.
        -->
<!--        <fileRoot name="GIS data" path="/home/janbessels/dev/metadata">
        
			 Autorisatie voor deze root

                "access" kan één van onderstaande waardes hebben:
                  "write"  : gebruiker met deze rol kan metadata wijzigen
                  "comment": gebruiker met deze rol kan metadata lezen en commentaar toevoegen
                  "read"   : gebruiker kan alleen metadata lezen
                  "none"   : root wordt niet getoond in de boomstructuur voor gebruiker, kan geen metadata lezen


                Indien geen <acl> elementen aanwezig zijn is het default <acl access="write"><role>*</role></acl>
            
			<acl access="write">
				<role>none</role>
			</acl>
        </fileRoot>-->
        <fileRoot name="GIS data" path="D:/Chris/metadata-2014-05-01">
        
			<!-- Autorisatie voor deze root

                "access" kan één van onderstaande waardes hebben:
                  "write"  : gebruiker met deze rol kan metadata wijzigen
                  "comment": gebruiker met deze rol kan metadata lezen en commentaar toevoegen
                  "read"   : gebruiker kan alleen metadata lezen
                  "none"   : root wordt niet getoond in de boomstructuur voor gebruiker, kan geen metadata lezen


                Indien geen <acl> elementen aanwezig zijn is het default <acl access="write"><role>*</role></acl>
            -->
			<acl access="write">
				<role>editor</role>
				<role>admin</role>
			</acl>
			<acl access="comment">
				<role>viewer</role>
			</acl>
            <acl access="none">
				<role>none</role>
			</acl>
        </fileRoot>
        
    </roots>
    
    <!-- Spatiegescheiden lijst van bestandsextensies waarbij de geografische 
         tabs in de metadataeditor automatisch worden getoond.
    -->
    <geoFileExtensions></geoFileExtensions>

    <cswServers>
        <cswServer>
            <name></name>
            <url></url>
            <!--Volgende elementen zijn optioneel: -->
            <loginUrl></loginUrl>
            <username></username>
            <password></password>
        </cswServer>
        <!--cswServer>
            <name>csw2</name>
            <url>http://x13.b3p.nl:8080/geonetwork/srv/en/csw</url>
            <loginUrl>http://x13.b3p.nl:8080/geonetwork/srv/en/xml.user.login</loginUrl>
            <username>admin</username>
            <password>admin</password>
        </cswServer -->
    </cswServers>
    
    <!-- de transformatie naar de mde heeft vele configuratie mogelijkheden -->
    <mdeConfig>
         <!-- maak attributen tab (feature catalog)-->
        <entry><key>fcMode_init</key><value>true</value></entry>
        <!-- maak dublin core tab-->
        <entry><key>dcMode_init</key><value>true</value></entry>
         <!-- voeg speciale PBL extra's toe aan dublin core tab-->
        <entry><key>dcPblMode_init</key><value>true</value></entry>
        <!-- zet alle metadata voor datasets op een enkele tab-->
        <entry><key>iso19115oneTab_init</key><value>false</value></entry>
        <!-- maak tab met commentaar mogelijkhed -->
        <entry><key>commentMode_init</key><value>true</value></entry>
        <!-- maak editor read-only, viewMode in js-->
        <entry><key>globalReadonly_init</key><value>false</value></entry>
        <!-- maak metadata voor services-->
        
        <!--Toont tab voor services NIET -->
        <entry><key>serviceMode_init</key><value>true</value></entry>
        
        <!-- maak metadata voor datasets -->
        <entry><key>datasetMode_init</key><value>true</value></entry>
        <!-- TODO synchroniseDC werkt niet goed icm service mode omdat de sync 
        templates hier niet op aangepast zijn. -->
        <!-- gebruik dc om md tags mee te vullen-->
        
        <!-- Synchroniseer/kopieer NIET de velden uit Dublin Core tab met de datasets tabs -->
        <entry><key>synchroniseDC_init</key><value>true</value></entry>

        <!-- gebruik defaults vooringevuld-->
        <entry><key>fillDefaults_init</key><value>true</value></entry>
        <!-- gebruik esri tags om md mee te vullen -->
        <entry><key>synchroniseEsri_init</key><value>false</value></entry>
        <!-- Bestanden met transformers
         Een relatief pad is ten opzichte van de directory waar dit 
         configuratie XML bestand staat.
        -->
        <entry><key>mdemain</key><value>mdemain.xsl</value></entry>
        <entry><key>mdeXmlPreprocessor</key><value>mdeXmlPreprocessor.xsl</value></entry>
        <entry><key>ISO19115toDC</key><value>ISO19115toDC.xsl</value></entry>
        <entry><key>DCtoISO19115</key><value>DCtoISO19115.xsl</value></entry>
        <entry><key>sync_ncml</key><value>sync_ncml.xsl</value></entry>
        <!-- klantspecifieke transformaties 
        <entry><key>extrapreprocessor1</key><value>nk_pp.xsl</value></entry>
        <entry><key>extrapreprocessor2</key><value>preprocessor2.xsl</value></entry>
        <entry><key>extrasync1</key><value>sync1.xsl</value></entry>
        <entry><key>extrasync2</key><value>sync2.xsl</value></entry>
        <entry><key>extrapostprocessor1</key><value>postprocessor1.xsl</value></entry>
        -->
    </mdeConfig>
    
    
    <!-- Bestand met voorgedefinieerde informatie over organisaties en 
         contactpersonen die in de metadataeditor snel kan worden ingevuld.
         
         Een relatief pad is ten opzichte van de directory waar dit 
         configuratie XML bestand staat. Optioneel, standaardwaarde is "organisations.json"
         
         LET OP! Dit bestand moet een geldige JSON datastructuur bevatten. Er is enige
         syntax controle indien een beheerder de gegevens wijzigt via de webapplicatie.
         LET OP! Dit bestand moet schrijfbaar zijn door Tomcat 
         LET OP! Voor speciale tekens: charset moet UTF-8 zijn
    -->
    <organizationsJsonFile>organisations.json</organizationsJsonFile>
    
</b3p:catalogAppConfig>
