<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<b3p:catalogAppConfig xmlns:b3p="http://www.kaartenbalie.nl/b3pcatalog/config" version="1.0">
    <!-- Configuratieinstellingen B3P Catalog -->
    <arcobjects enabled="false"/>
    <!-- Definitie van de boomstructuur in de tab "Bestanden verkennen" 
         Minimaal 1 root moet zijn gedefinieerd.
    -->
    <roots>
        <fileRoot name="GIS data" path="/mnt/tera1/apps/b3pcatalog">
            <!-- Autorisatie voor deze root

                "access" kan 1 van onderstaande waardes hebben:
                  "write"  : gebruiker met deze rol kan metadata wijzigen
                  "add"      : gebruiker met deze rol kan metadata toevoegen, maar niet in lijst zien
                  "comment": gebruiker met deze rol kan metadata lezen en commentaar toevoegen
                  "read"   : gebruiker kan alleen metadata lezen
                  "none"   : root wordt niet getoond in de boomstructuur voor gebruiker, kan geen metadata lezen

                Indien geen <acl> elementen aanwezig zijn is het default <acl access="write"><role>*</role></acl>
            -->
            <acl access="write">
                <role>editor</role>
                <role>admin</role>
            </acl>
            <acl access="add">
                <role>none</role>
            </acl>
        </fileRoot>
    </roots>
    <!-- Spatiegescheiden lijst van bestandsextensies waarbij de geografische 
         tabs in de metadataeditor automatisch worden getoond.
    -->
    <geoFileExtensions/>
    <cswServers>
        <!--cswServer>
            <name>csw2</name>
            <url>http://x13.b3p.nl:8080/geonetwork/srv/en/csw</url>
            <loginUrl>http://x13.b3p.nl:8080/geonetwork/srv/en/xml.user.login</loginUrl>
            <username>admin</username>
            <password>admin</password>
        </cswServer -->
    </cswServers>
    <!-- de transformatie naar de mde heeft vele configuratie mogelijkheden -->
    <mdeConfig>
        <!-- maak attributen tab (feature catalog)-->
        <entry>
            <key>fcMode_init</key>
            <value>false</value>
        </entry>
        <!-- maak dublin core tab-->
        <entry>
            <key>dcMode_init</key>
            <value>false</value>
        </entry>
        <!-- voeg speciale PBL extra's toe aan dublin core tab-->
        <entry>
            <key>dcPblMode_init</key>
            <value>false</value>
        </entry>
        <!-- zet alle metadata voor datasets op een enkele tab-->
        <entry>
            <key>iso19115oneTab_init</key>
            <value>false</value>
        </entry>
        <!-- maak tab met commentaar mogelijkhed -->
        <entry>
            <key>commentMode_init</key>
            <value>false</value>
        </entry>
        <!-- maak editor read-only, viewMode in js-->
        <entry>
            <key>globalReadonly_init</key>
            <value>false</value>
        </entry>
        <!-- maak metadata voor services-->
        <!--Toont tab voor services NIET -->
        <entry>
            <key>serviceMode_init</key>
            <value>false</value>
        </entry>
        <!-- maak metadata voor datasets -->
        <entry>
            <key>datasetMode_init</key>
            <value>true</value>
        </entry>
        <!-- TODO synchroniseDC werkt niet goed icm service mode omdat de sync 
        templates hier niet op aangepast zijn. -->
        <!-- gebruik dc om md tags mee te vullen-->
        <!-- Synchroniseer/kopieer NIET de velden uit Dublin Core tab met de datasets tabs -->
        <entry>
            <key>synchroniseDC_init</key>
            <value>false</value>
        </entry>
        <!-- gebruik defaults vooringevuld-->
        <entry>
            <key>fillDefaults_init</key>
            <value>true</value>
        </entry>
        <!-- gebruik esri tags om md mee te vullen -->
        <entry>
            <key>synchroniseEsri_init</key>
            <value>false</value>
        </entry>
        <!-- Bestanden met transformers
         Een relatief pad is ten opzichte van de directory waar dit 
         configuratie XML bestand staat.
        -->
        <entry>
            <key>mdemain</key>
            <value>mdemain.xsl</value>
        </entry>
        <entry>
            <key>mdeXmlPreprocessor</key>
            <value>mdeXmlPreprocessor.xsl</value>
        </entry>
        <entry>
            <key>ISO19115toDC</key>
            <value>ISO19115toDC.xsl</value>
        </entry>
        <entry>
            <key>DCtoISO19115</key>
            <value>DCtoISO19115.xsl</value>
        </entry>
        <entry>
            <key>sync_ncml</key>
            <value>sync_ncml.xsl</value>
        </entry>
        <!-- klantspecifieke transformaties 
        <entry><key>extrapreprocessor1</key><value>nk_pp.xsl</value></entry>
        <entry><key>extrapreprocessor2</key><value>preprocessor2.xsl</value></entry>
        <entry><key>extrasync1</key><value>sync1.xsl</value></entry>
        <entry><key>extrasync2</key><value>sync2.xsl</value></entry>
        <entry><key>extrapostprocessor1</key><value>postprocessor1.xsl</value></entry>
        -->
    </mdeConfig>
    <!-- Bestand met voorgedefinieerde informatie over organisaties en 
         contactpersonen die in de metadataeditor snel kan worden ingevuld.
         
         Een relatief pad is ten opzichte van de directory waar dit 
         configuratie XML bestand staat. Optioneel, standaardwaarde is "organisations.json"
         
         LET OP! Dit bestand moet een geldige JSON datastructuur bevatten. Er is enige
         syntax controle indien een beheerder de gegevens wijzigt via de webapplicatie.
         LET OP! Dit bestand moet schrijfbaar zijn door Tomcat 
         LET OP! Voor speciale tekens: charset moet UTF-8 zijn
    -->
    <organizationsJsonFile>organisations.json</organizationsJsonFile>
</b3p:catalogAppConfig>
