<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<b3p:catalogAppConfig xmlns:b3p="http://www.kaartenbalie.nl/b3pcatalog/config" version="1.0">

    <!-- Configuratieinstellingen B3P Catalog -->

    <!-- ArcObjects initialisatie opties. Zie voor achtergrondinfo:
         http://resources.esri.com/help/9.3/arcgisengine/java/doc/5fbd4a08-b658-45ec-acf9-aeab422015bc.htm
         
         Attribuut: enabled
         Type: boolean
         Standaardwaarde: false
         Beschrijving:
           Indien enabled="true" dan wordt bij het opstarten van de server 
           geprobeerd ArcObjects te laden en een licentie te initialiseren.
           Indien geinitialiseerd blijft de licentie in gebruik totdat de server
           wordt gestopt (ESRI-technisch niet anders mogelijk).
           
           Als het laden van ArcObjects of het initialiseren van een licentie
           mislukt wordt een melding geschreven naar het logbestand en zijn
           ArcObjects functionaliteiten niet beschikbaar.

         Attribuut: productCodes
         Type: spatiegescheiden lijst
         Standaardwaarde: ArcInfo ArcEditor ArcView ArcServer EngineGeoDB Engine  
         Beschrijving:
           Alleen van toepassing bij enabled="true". Bepaalt in welke volgorde 
           licenties worden geprobeerd te initialiseren (indien de eerste niet 
           beschikbaar is wordt de volgende geprobeerd). ArcView is voor de 
           meeste functionaliteit voldoende. ArcEditor is alleen nodig voor 
           opslaan van metadata in SDE; echter is een betere optie het gebruik 
           van een directe JDBC connectie waarvoor geen licentie nodig is. In
           de standaardwaarde hierboven genoemd staan alle mogelijke opties. De 
           geprobeerde en uiteindelijk geinitialiseerde licentie wordt geschreven 
           naar het logbestand.
    
         Attribuut: arcEngineHome
         Type: absoluut pad naar directory
         Beschrijving:
           Volledig pad naar de directory waar ArcGIS is geinstalleerd. In deze 
           directory moet de subdirectory "java\lib" aanwezig zijn met daarin het
           bestand arcobjects.jar. Optionele optie, indien niet aanwezig wordt 
           het pad gehaald uit de volgende environment variabelen:
           AGSENGINEJAVA, AGSDESKTOPJAVA of ARCGISHOME

         Attribuut: forkSynchroniser
         Type: boolean
         Standaardwaarde: false
           Indien "true" dan wordt voor de synchronisatiefunctie een apart proces 
           gestart dat de te synchroniseren waardes ophaalt mbv ArcObjects. Dit 
           maakt het mogelijk om bij floating licenses tijdelijk een ArcView 
           licentie te gebruiken. Gebruiken icm enabled="false".
           * Wordt niet gebruikt voor synchroniseren van file geodatabases omdat 
             daar altijd ArcObjects voor nodig is.
           * Voor synchroniseren van dataset uit SDE moet bij de sdeRoot een geldige
             arcobjectsConnection opgegeven zijn.
           * Synchroniseren kost meer tijd
           * Geldige Java installatie vereist
    -->
    <arcobjects enabled="true" productCodes="ArcView"/>
    
    <!-- Definitie van de boomstructuur in de tab "Bestanden verkennen" 
         Minimaal één root moet zijn gedefinieerd.
    --> 
    <roots>
        <!-- Browse bestanden vanaf het pad "C:\catalog_test".
        
             Voor synchroniseren van shapefiles is ArcView licentie nodig. 
             Werkt met de forkSynchroniser optie.
             
             Voor weergave inhoud, lezen en schrijven van metadata en 
             synchroniseren van Esri file geodatabases is een ArcView licentie 
             nodig.
        -->

            <fileRoot name="GEODATA" path="\\wsrl.local\wsrl\Kerndata\GEODATA">
            </fileRoot>
            <fileRoot name="INFOWATERKERING" path="\\wsrl.local\wsrl\Kerndata\INFOWATERKERING">
            </fileRoot>
        
        <!--fileRoot name="Test" path="c:\catalog_test"-->
        
            <!-- Autorisatie voor deze root

              
                "access" kan één van onderstaande waardes hebben:
                  "write"  : gebruiker met deze rol kan metadata wijzigen
                  "comment": gebruiker met deze rol kan metadata lezen en commentaar toevoegen
                  "read"   : gebruiker kan alleen metadata lezen
                  "none"   : root wordt niet getoond in de boomstructuur voor gebruiker, kan geen metadata lezen

                Indien geen <acl> elementen aanwezig zijn is het default <acl role="*" access="write"/>
            - ->
            <acl roles="*" access="write"/>
        </fileRoot-->
        
        <!-- Browse bestanden in SDE via alleen ArcObjects.
        
             Voor weergave inhoud, lezen metadata en synchroniseren is 
             ArcView licentie nodig. Om metadata XML op te slaan is 
             ArcEditor licentie nodig.
             
             N.B. bij vele hoeveelheden datasets kan het weergeven van inhoud
             enorm traag zijn. Gebruik daarvoor directe JDBC connectie (zie
             onder).
         -->
        <sdeRoot name="SDE ond">
            <arcobjectsConnection>SERVER=as034;INSTANCE=5153;DATABASE=ondprd;AUTHENTICATION_MODE=DBMS;USER=wsrl_ond;PASSWORD=rivierenland;VERSION=SDE.DEFAULT</arcobjectsConnection>

            <!-- De JNDI datasource moet in Tomcat zijn gedefinieerd in de webapp 
                 context. In de WAR zit deze in META-INF/context.xml.
                 Na deployen wordt het bestand in tomcat/conf/Catalina/localhost/b3pcatalog.xml
                 gebruikt. Voor meer informatie:
                 http://tomcat.apache.org/tomcat-6.0-doc/jndi-resources-howto.html#JDBC_Data_Sources
            -->
            <jndiDataSource>java:comp/env/jdbc/arcsde_ondprd</jndiDataSource>
        </sdeRoot>
		
        <sdeRoot name="SDE geo">
            <arcobjectsConnection>SERVER=as034;INSTANCE=5151;DATABASE=geoprd;AUTHENTICATION_MODE=DBMS;USER=sde;PASSWORD=rivierenland;VERSION=SDE.DEFAULT</arcobjectsConnection>

            <!-- De JNDI datasource moet in Tomcat zijn gedefinieerd in de webapp 
                 context. In de WAR zit deze in META-INF/context.xml.
                 Na deployen wordt het bestand in tomcat/conf/Catalina/localhost/b3pcatalog.xml
                 gebruikt. Voor meer informatie:
                 http://tomcat.apache.org/tomcat-6.0-doc/jndi-resources-howto.html#JDBC_Data_Sources
            -->
            <jndiDataSource>java:comp/env/jdbc/arcsde_geoprd</jndiDataSource>
        </sdeRoot>		
        
    </roots>
    
    <!-- Spatiegescheiden lijst van bestandsextensies waarbij de geografische 
         tabs in de metadataeditor automatisch worden getoond.
    -->
    <geoFileExtensions>gml shp dxf dgn sdf sdl lyr ecw sid tif tiff asc mdb</geoFileExtensions>

    <!-- CSW server configuratie voor de "Catalog doorzoeken" tab -->
    <cswServer>
        <url>http://localhost:8080/geonetwork/srv/en/csw</url>
        
        <!-- Volgende elementen zijn optioneel: -->
        <loginUrl>http://localhost:8080/geonetwork/srv/en/xml.user.login</loginUrl>
        <username>admin</username>
        <password>admin</password>
    </cswServer>
    
       <!-- Bestand met voorgedefinieerde informatie over organisaties en 
         contactpersonen die in de metadataeditor snel kan worden ingevuld.
         
         Een relatief pad is ten opzichte van de directory waar dit 
         configuratie XML bestand staat. Optioneel, standaardwaarde is "organizations.json"
         
         LET OP! Dit bestand moet een geldige JSON datastructuur bevatten. Er is enige
         syntax controle indien een beheerder de gegevens wijzigt via de webapplicatie.
         LET OP! Dit bestand moet schrijfbaar zijn door Tomcat 
         LET OP! Voor speciale tekens: charset moet UTF-8 zijn
    -->
    <organizationsJsonFile>organizations.json</organizationsJsonFile>
    
</b3p:catalogAppConfig>