.ui-mde .ui-mde-element input.inputfield {
	margin-top: -2px;
	margin-left: -2px;
}

.ui-mde .ui-mde-element select.ui-mde-picklist {
	margin-top: -2px;
	margin-left: -4px;
}

.ui-mde .ui-mde-section-title {
	margin-left: -4px;
}

.ui-mde .ui-mde-key .menu-wrapper img {
	margin-left: -4px;
    margin-right: -4px;
}

.ui-mde .ui-mde-section-header .menu-wrapper img {
    margin-left: -4px;
}