<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <context-param>
        <description>
            Lokatie van XML configuratiebestand van B3P Catalog. Een relatief 
            pad is ten opzichte can CATALINA_BASE.
            
            Let op: pas dit aan door in context.xml (of in Catalina/localhost/b3pcatalog.xml)
            deze parameter te overriden zodat bij een nieuwe versie deze behouden
            blijft:
            &lt;Context&gt; path="/b3pcatalog" ...&gt;
                &lt;Parameter name="config" value="c:\b3p\b3pcatalog\config.xml" override="false"/&gt;
            &lt;/Context&gt;
        </description>
        <param-name>config</param-name>
        <param-value>conf/b3pcatalog/config.xml</param-value>
    </context-param>
    <context-param>
        <description>Naam van rol van beheerder</description>
        <param-name>adminRole</param-name>
        <param-value>admin</param-value>
    </context-param>
        
    <listener>
        <listener-class>nl.b3p.catalog.config.CatalogAppConfig</listener-class>
    </listener>
    <listener>
        <listener-class>nl.b3p.catalog.arcgis.ArcObjectsInitializerListener</listener-class>
    </listener>
    
    <filter>
        <filter-name>Request encoding filter</filter-name>
        <filter-class>nl.b3p.commons.services.SetRequestEncodingFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Request encoding filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- Security: kies of security-filter of LDAP --> 
    <!-- security-filter config begin -->
    <filter>
        <display-name>Security Filter</display-name>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/securityfilter-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>xmlsecuritydatabase</servlet-name>
        <servlet-class>nl.b3p.commons.security.XmlSecurityDatabase</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/users.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- security-filter config end -->

    <!-- LDAP config begin -->
    <!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>styles</web-resource-name>
            <url-pattern>/styles/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>scripts</web-resource-name>
            <url-pattern>/scripts/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>images</web-resource-name>
            <url-pattern>/images/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>xsls</web-resource-name>
            <url-pattern>/xsls/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>scc</web-resource-name>
            <url-pattern>/scc*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
    </security-constraint>
	
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>authinfo</web-resource-name>
            <url-pattern>/authinfo.jsp</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
    </security-constraint>	

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>alloreditor</web-resource-name>
            <url-pattern>/editor.jsp</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
           <role-name>beheerder</role-name>
        </auth-constraint>    
    </security-constraint>	
    
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-logout-page>/logout.jsp</form-logout-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    -->
    <!-- LDAP config end -->
    
    <!-- See http://www.stripesframework.org/display/stripes/Localization (bottom of the page) -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>StripesResources</param-value>
        <!-- huidige locale wordt hier automatisch slim achtergeplakt (_nl etc.) -->
    </context-param>
    
    <!-- Stripes -->
    <filter>
        <display-name>Stripes Filter</display-name>
        <filter-name>StripesFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>nl.b3p.catalog.stripes</param-value>
        </init-param>
        <init-param>
            <param-name>LocalePicker.Locales</param-name>
            <param-value>nl_NL, nl</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <servlet-name>StripesDispatcher</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>StripesDispatcher</servlet-name>
        <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>3600</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
